// bower:scss
// endbower

// Mixins
$tablet-width: 768px;

@mixin desktop {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

// Fonts
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Light.ttf");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Medium.ttf");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.ttf");
	font-style: normal;
	font-weight: bold;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
// General
*{
	&:focus {
		outline: none;
	}
}
html, body {
	margin: 0;
	background: #fff;
	background-color: #fff;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-style: normal;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}

a {
	display: inline-block;
	text-decoration: none;
	color: white;
	transition: all .15s ease;

	&:hover, &:visited, &:focus {
		color: white;
	}

	&:hover {
		text-decoration: none;
		transform: translateY(-1px);
	}
}

img {
	display: block;
	margin: auto;
	width: 100%;
}

hr {
	max-width: 30em;
    width: 100%;
	border-width: 1px;
	border-top: 0;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.btn {
	font-family: 'Roboto Condensed', sans-serif;
	min-width: 10em;
	max-width: 12em;
	height: 40px;
	background-color: #EEC5A8;
	line-height: 40px;
	text-align: center;
	margin: 1em auto;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	border-radius: 20px;
    transition: all .15s ease;

	&:hover {
		transform: translateY(-1px);
		box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
		cursor: pointer;
	}

	a {
		color: white;
		text-transform: uppercase;
		font-weight: bold;
	}
}

.icon {
	img {
		max-width: 30px;
		width: 100%;
	}
}

.section {
	position: relative;
	display: flex;
	align-items: center;
}

.section-inner {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	z-index: 1;
}

.background, .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 100%;
}

.background {
	img {
		max-width: 600px;
	}
}

/* Parallax base styles
  --------------------------------------------- */
@include desktop {
	.parallax {
		height: 500px; /* fallback for older browsers */
		height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-perspective: 300px;
		perspective: 300px;
		scroll-behavior: smooth;
	}

	.parallax__group {
		position: relative;
		height: 500px; /* fallback for older browsers */
		height: 100vh;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	.parallax__layer {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.parallax__layer--fore {
		-webkit-transform: translateZ(90px) scale(.7);
		transform: translateZ(90px) scale(.7);
		z-index: 1;
	}

	.parallax__layer--base {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		z-index: 4;
	}

	.parallax__layer--back {
		-webkit-transform: translateZ(-300px) scale(2);
		transform: translateZ(-300px) scale(2);
		z-index: 3;
	}

	.parallax__layer--deep {
		-webkit-transform: translateZ(-600px) scale(3);
		transform: translateZ(-600px) scale(3);
		z-index: 2;
	}

	.parallax__group {
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
	}
}

// Animation Helpers
.bounce {
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

// Header
.globalHeader {
	display: none;

	@include desktop {
		position: absolute;
		display: block;
		left: 0;
		right: 0;
		top: 1em;
		width: 90%;
		margin: auto;
		z-index: 2;
		line-height: 4em;
	}

	.navMenu {
		display: flex;
		justify-content: center;
		max-width: 60em;
		margin: auto;

		@include desktop {
			justify-content: space-between;
			border-bottom: 1px solid rgba(255,255,255,0.5);
		}

		.header-links {

			@include desktop {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				flex-grow: 1;
				font-size: 16px;
				max-width: 20em;
			}

			a {
				font-family: 'Roboto Condensed', sans-serif;
				color: white;
				text-transform: uppercase;
				font-weight: 400;
			}
		}

		.header-btn {
			margin: 0.75em 0 1.75em;
		}
	}
}

// Hero Section
.hero {
	background-image: url(../images/background-water-02.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	color: white;
	min-height: 100vh;
	z-index: 5;

	.hero-overlay {
		background: linear-gradient(to top, #3b55e6 0%, hsla(231, 77%, 57%, 0.95) 40%, rgba(238, 197, 168, 0.85) 100%);
	}

	.hero-inner {
		z-index: 1;

		h1 {
			font-size: 2em;

			@include desktop {
				font-size: 3em;
			}
		}

		p {
			margin: 0 auto 2em;
			font-size: 110%;
			font-weight: 300;

			@include desktop {
				font-size: 120%;
			}

			&:nth-child(3) {
				margin-top: 0;
			}

			&:nth-last-child(2) {
				font-size: 1em;
			}
		}

		.hero-logo {
			max-width: 12em;

			@include desktop {
				max-width: 16em;
			}

		}

		.scrollDown-arrow {
			display: inline-block;
			position: absolute;
			bottom: 5vh;
			margin: auto;
			left: 0;
			right: 0;
			z-index: 20;

			@include desktop {
				bottom: 10vh;
			}

			img {
				width: 50px;
			}
		}
	}
}

// About Section
.about {
	color: white;
	background-color: white;

	@include desktop {
		font-size: 120%;
	}

	.about-background {
		position: absolute;
		top: 0;
		background: linear-gradient(#3B55E6 0%,#3B55E6 20%, #EEC5A8 100%);
		width: 100%;
		height: 100%;
		overflow: hidden;
		transform: skewY(5deg);
		transform-origin: 100%;
		z-index: 0;
	}

	.about-inner {
		text-align: center;
		padding: 15em 0;
		width: 40em;
		z-index: 1;
		transform: translateY(-5vh);

		@include desktop {
			transform: translateY(-20%);
		}

		p {
			font-weight: 300;
		}
	}
}

// Speaker Section
.speaker {
	z-index: 3;
	min-height: 100vh;

	hr {
		border-color: #3B55E6;
	}

	.background {
		transform: translateY(-25em);

		@include desktop {
			transform: translateZ(-600px) scale(3);
		}

		img {
			max-width: 600px;
		}

	}

	.speaker-inner {
		.row {
			display: flex;
			max-width: 60em;
			align-items: center;
			flex-direction: column;
			margin: 4em auto;

			@include desktop {
				flex-direction: row;
			}

			.speaker-image {
				position: relative;
				overflow: hidden;
				max-width: 300px;
				max-height: 300px;
				border-radius: 50%;
				margin-bottom: 2em;

				@include desktop {
					margin-bottom: 0;
				}

				span {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					background: rgba(59, 85, 230, 0.5);
					width: 100%;
					max-width: 300px;
					height: 100%;
					max-height: 300px;
					border-radius: 50%;
					z-index: 1;
				}
				img {
					width: 100%;
					border-radius: 50%;
					transition:  all .3s ease;
				}

				&:hover {
					img {
						transform: scale(1.1);
					}
				}
			}

			.speaker-content {
				max-width: 40em;
				text-align: center;
				padding: 0 2em;
				color: #3B55E6;

				@include desktop {
					text-align: left;
				}

				h2 {
					margin: 0;
					text-transform: uppercase;
				}

				h3 {
					margin-top: 0;
					color: #B9BED1;
					text-transform: uppercase;
					font-weight: normal;
				}

				p {
					text-align: left;
				}
			}
		}
		.reverse-row {
			@include desktop {
				flex-direction: row-reverse;
			}
		}
	}
}

// Music Section
.music {
	z-index: 4;

	.music-background {
		position: absolute;
		top: 0;
		background: linear-gradient(rgba(238, 198, 170, 0.8) 0%, rgba(59, 85, 230, 0.8) 100%);
		width: 100%;
		height: 100%;
		overflow: hidden;
		transform: skewY(-5deg);
		transform-origin: 0;
		z-index: 0;
	}

	hr {
		border-color: white;
	}

	.music-inner {
		color: white;
		padding: 4em 0 10em;

		h2 {
			font-size: 2em;
			margin: 2em auto;
		}

		.row {
			display: flex;
			flex-direction: column;
			justify-content: center;


			@include desktop {
				flex-direction: row;
			}

			.music-person {
				margin-bottom: 2em;
				width: 20em;

				.music-person-image {
					position: relative;
					overflow: hidden;
					max-width: 200px;
					max-height: 200px;
					border-radius: 50%;
					margin: auto;

					span {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						background: rgba(59, 85, 230, 0.5);
						width: 100%;
						max-width: 200px;
						height: 100%;
						max-height: 200px;
						border-radius: 50%;
						z-index: 1;
					}
					img {
						width: 100%;
						border-radius: 50%;
						transition: all .3s ease;
					}

					&:hover {
						img {
							transform: scale(1.1);
						}
					}
				}

				.icon-plus {
					display: none;
				}

				h3 {
					text-transform: capitalize;

				}
				p {
					display: none;
				}
			}
		}
	}
}

// Food Section
.food {


	.food-inner {
		padding: 5em 0;

		h2 {
			color: #3B55E6;
		}

		.row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;

			@include desktop {
			}

			.food-vendor {
				display: inline-block;
				width: 10em;

				h3 {

					a {

					color: #B9BED1;
					}
				}
			}
		}
	}
}


