// bower:scss
// endbower

// Mixins
$tablet-width: 768px;

@mixin desktop {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

// Fonts
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Light.ttf");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Medium.ttf");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.ttf");
	font-style: normal;
	font-weight: bold;
}

// General
*{
	&:focus {
		outline: none;
	}
}
html, body {
	margin: 0;
	background: #fff;
	background-color: #fff;
	overflow: auto;
	// min-height: 100%;
	// height: 100%;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-style: normal;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

a {
	display: inline-block;
	text-decoration: none;
	color: white;
	transition: all .15s ease;

	&:hover, &:visited, &:focus {
		color: white;
	}

	&:hover {
		text-decoration: none;
		transform: translateY(-1px);
	}
}

hr {
	border-color: #3B55E6;
	border-width: 1px;
	border-top: 0;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.btn {
	min-width: 10em;
    height: 40px;
	background-color: #EEC5A8;
	line-height: 40px;
	text-align: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	border-radius: 20px;
    transition: all .15s ease;

	&:hover {
		transform: translateY(-1px);
		box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
		cursor: pointer;
	}

	a {
		color: white;
		text-transform: uppercase;
		font-weight: bold;
	}
}

.section {
	position: relative;
	display: flex;
    align-items: center;
}

.section-inner {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	z-index: 1;
}

// Animation Helpers

.bounce {
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

// Header
.globalHeader {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	width: 90%;
	margin: auto;
	z-index: 10;
	line-height: 4em;

	.navMenu {
		display: flex;
		justify-content: center;
		max-width: 60em;
		margin: auto;

		@include desktop {
			justify-content: space-between;
			border-bottom: 1px solid rgba(255,255,255,0.5);
		}

		.header-links {
			display: none;

			@include desktop {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				flex-grow: 1;
				font-size: 14px;
				max-width: 25em;
			}

			a {
				color: white;
				text-transform: uppercase;
				font-weight: bold;
			}
		}

		.header-btn {
			margin: 0.75em 0;
		}
	}
}

// Global Wrapper
.globalContent {
	overflow: auto;
	flex-grow: 1;
}

// Hero Section
.hero {
	background-image: url(../images/hero-background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	min-height: 100vh;

	@include desktop {
		min-height: initial;
		height: 60em;
	}

	.hero-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to top, rgba(59,85,230,1) 0%,rgba(59,85,230,0.9) 75%,rgba(59,85,230,0.5) 100%);
	}

	.hero-inner {
		padding-top: 100px;
		padding-bottom: 100px;

		h1 {
			font-size: 2em;
			margin-top: 0.5em;
			margin-bottom: 1em;

			@include desktop {
				font-size: 3em;
				margin: 0 auto 1em;
			}
		}

		p {
			margin-left: auto;
			margin-right: auto;
			font-size: 120%;
			font-weight: 300;

			@include desktop {
				font-size: 150%;
			}

			&:nth-child(1) {
				margin-bottom: 0;
			}

			&:nth-last-child(2) {
				margin-top: 0;
				font-size: 1em;
			}
		}

		.hero-logo {
			margin-top: 2em;
			max-width: 10em;
		}

		.scrollDown-arrow {
			display: inline-block;
			position: absolute;
			bottom: 5vh;
			margin: auto;
			left: 0;
			right: 0;
			z-index: 20;

			@include desktop {
				bottom: 15vh;
			}

			img {
				width: 50px;
			}
		}
	}
}

// About Section
.about {
	min-height: 75vh;
	color: white;
	background-color: white;

	@include desktop {
		min-height: initial;
		height: 50em;
	}

	.about-background {
		position: absolute;
		top: 0;
		background: linear-gradient(#3B55E6 0%,#EEC5A8 100%);
		width: 100%;
		height: 100%;
		overflow: hidden;
		transform: skewY(5deg);
		transform-origin: 100%;
		z-index: 0;
	}

	.about-inner {
		text-align: left;
		padding: 5em 0;
		width: 40em;
		z-index: 1;
		transform: translateY(-5vh);

		@include desktop {
			transform: translateY(-20%);
		}

		p {
			@include desktop {
				font-size: 120%;
			}

			&:last-child {
				line-height: 1em;
				margin-top: 3em;
			}
		}
	}
}

// Speaker Section
.speaker {
	background-image: url(../images/water-background-01.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transform: translateY(-20em);
	padding-top: 20em;

	.speaker-inner {
		.row {
			display: flex;
			max-width: 60em;
			margin: auto;
			align-items: center;
			flex-direction: column;
			margin: 4em 0;

			@include desktop {
				flex-direction: row;
			}

			.speaker-image {
				position: relative;
				overflow: hidden;
				max-width: 300px;
				max-height: 300px;
				border-radius: 50%;
				margin-bottom: 2em;

				span {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					background: rgba(59, 85, 230, 0.5);
					width: 100%;
					max-width: 300px;
					height: 100%;
					max-height: 300px;
					border-radius: 50%;
					z-index: 1;
				}
				img {
					width: 100%;
					border-radius: 50%;
					transition:  all .3s ease;

					&:hover {
						transform: scale(1.5);
					}
				}

				&:hover {
					img {
						transform: scale(1.1);
					}
				}
			}

			.speaker-content {
				max-width: 40em;
				text-align: left;
				padding: 0 2em;
				color: #3B55E6;

				h2 {
					margin: 0;
					text-transform: uppercase;
				}

				h3 {
					margin-top: 0;
					color: #B9BED1;
					text-transform: uppercase;
					font-weight: normal;
				}
			}
		}
		.reverse-row {
			@include desktop {
				flex-direction: row-reverse;
			}
		}
	}
}
