// bower:scss
// endbower

// Mixins
$tablet-width: 768px;

@mixin desktop {
  @media (min-width: #{$tablet-width}) {
	@content;
  }
}

// Variables
$primary-color: #444444;
$secondary-color: #EEC5A8;
$primary-blue: #3b55e6;


// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,800');
// General
*{
	&:focus {
		outline: none;
	}
}
html, body {
	margin: 0;
	background: white;
	color: white;
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
	font-weight: normal;
	font-style: normal;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
}

a {
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: white;
	transition: all 0.15s ease-in;

	@include desktop {
		&:hover, &:visited, &:focus {
			color: white;
		}

		&:hover {
			text-decoration: none;
			transform: translateY(-1px);
		}
	}
}

img {
	display: block;
	margin: auto;
	width: 100%;
}

hr {
	display: none;
	max-width: 30em;
	width: 100%;
	border-width: 1px;
	border-top: 0;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.btn {
	font-family: 'Nunito', sans-serif;
	min-width: 10em;
	max-width: 12em;
	height: 40px;
	background-color: $secondary-color;
	line-height: 40px;
	text-align: center;
	margin: 1em auto;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	border-radius: 20px;
	transition: all 0.15s ease-in;

	&:hover {
		@include desktop {
			transform: translateY(-1px);
			box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
			cursor: pointer;
		}
	}

	a {
		display: block;
		color: white;
		text-transform: uppercase;
		font-weight: bold;

		&:hover {
			@include desktop {
				transform: none;
			}
		}
	}
}

.icon {
	img {
		max-width: 30px;
		width: 100%;
	}
}

.section {
	position: relative;
}

.section-inner {
	position:relative;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	z-index: 1;

	@include desktop {
		max-width: 90%;
	}
}

.background, .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 100%;
}

.background {
	img {
		max-width: 600px;
	}
}

// Animation Helpers
.bounce {
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

// Header
.globalHeader {
	display: none;

	@include desktop {
		display: block;
		position: relative;
		top: 1em;
		width: 90%;
		margin: auto;
		line-height: 4em;
		z-index: 2;
	}

	.navMenu {
		display: flex;
		justify-content: center;
		max-width: 60em;
		margin: auto;

		@include desktop {
			justify-content: space-between;
			border-bottom: 1px solid rgba(255,255,255,0.5);
		}

		.header-links {

			@include desktop {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				flex-grow: 1;
				font-size: 16px;
				max-width: 20em;
			}

			a {
				font-family: 'Nunito', sans-serif;
				color: white;
				text-transform: uppercase;
				font-weight: bold;
			}
		}

		.header-btn {
			margin: 0.75em 0 1.75em;
		}
	}
}

// Hero Section
.hero {
	background-image: url(../images/backgrounds/background-water-02.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	color: white;

	.hero-overlay {
		background: linear-gradient(to top, $primary-blue 0%, hsla(231, 77%, 57%, 0.95) 40%, rgba(238, 197, 168, 0.85) 100%);
		z-index: 0;
	}

	.hero-inner {
		padding-top: 5em;
		padding-bottom: 5em;

		h1 {
			font-size: 1.7em;

			@include desktop {
				font-size: 3em;
			}
		}

		p {
			margin: 0 auto 2em;
			font-size: 110%;

			@include desktop {
				font-size: 150%;
			}

			&:nth-child(3) {
				margin-top: 0;
			}

			&:nth-last-child(2) {
				font-size: 1em;
			}
		}

		.hero-logo {
			max-width: 12em;

			@include desktop {
				max-width: 20em;
			}

		}

		.scrollDown-arrow {

			// @include desktop {
			// 	margin-top: 2em;
			// }

			img {
				width: 50px;
			}
		}
	}
}

// About Section
.about {
	color: white;
	background-color: white;

	@include desktop {
		font-size: 120%;
	}

	.about-background {
		position: absolute;
		top: 0;
		background: linear-gradient($primary-blue 0%,$primary-blue 20%, $secondary-color 100%);
		width: 100%;
		height: 100%;
		overflow: hidden;
		transform: skewY(5deg);
		transform-origin: 100%;
		z-index: 0;
	}

	.about-inner {
		position: relative;
		text-align: left;
		padding: 4em 0 15em;
		width: 40em;
		z-index: 1;

		@include desktop {
			text-align: center;
			padding: 10em 0 20em;
		}

	}
}

// Speaker Section
.speaker {

	.background {
		z-index: 0;

		&.background-top {
			transform: translateY(-15em);
			bottom: 0;

			@include desktop {
				transform: translateY(5em);
				bottom: 100%;
			}
		}

		&.background-bottom {
			transform: translateY(40em);
			top: 100%;

			@include desktop {
				transform: translateY(0);
			}
		}


		img {
			max-width: 35em;
		}

	}

	.speaker-inner {
		padding: 5em 0 10em;

		@include desktop {
			padding-bottom: 15em;
		}

		.row {
			display: flex;
			max-width: 60em;
			align-items: center;
			flex-direction: column;
			margin: auto;

			@include desktop {
				flex-direction: row;
			}

			.speaker-image {
				position: relative;
				overflow: hidden;
				max-width: 200px;
				max-height: 200px;
				border-radius: 50%;
				margin: 5em 0 2em;

				@include desktop {
					max-width: 300px;
					max-height: 300px;
				}

				span {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					background: rgba(59, 85, 230, 0.5);
					width: 100%;
					max-width: 300px;
					height: 100%;
					max-height: 300px;
					border-radius: 50%;
					z-index: 1;
				}
				img {
					width: 100%;
					border-radius: 50%;
					transition: all 0.3s ease-in;
				}

				&:hover {
					transform: none;

					img, span {

						@include desktop {
							transform: scale(1.1);
						}
					}
				}
			}

			.speaker-content {
				text-align: center;
				color: #444;

				@include desktop {
					text-align: left;
					max-width: 40em;
					padding: 0 2em;
				}

				h2 {
					margin: 0;
					text-transform: uppercase;

					a {
						color: $primary-color;
					}
				}

				h3 {
					margin-top: 0;
					color: #888888;
					text-transform: uppercase;
					font-weight: normal;

					a {
						color: $primary-color;
					}
				}

				p {
					text-align: left;
				}
			}
		}
		.reverse-row {
			@include desktop {
				flex-direction: row-reverse;
			}
		}
	}
}

// Music Section
.music {

	.music-background {
		position: absolute;
		top: 0;
		background: linear-gradient(rgba(238, 198, 170, 0.75) 0%, rgba(59, 85, 230, 0.50) 50%, rgba(238, 198, 170, 0.75) 100%);
		width: 100%;
		height: 100%;
		overflow: hidden;
		transform: skewY(-5deg);
		transform-origin: 0;
		z-index: 0;

	}

	.music-background-image {
		transform: translateY(80em);

		@include desktop {
			transform: translateY(30em);
		}
	}

	hr {
		border-color: white;
	}

	.music-inner {
		position: relative;
		color: white;
		padding: 4em 0 10em;

		h2 {
			font-size: 2em;
			margin: 2em auto;
			transition: all 0.15s ease-in;
		}

		.row {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			transition: all 0.15s ease-in;

			@include desktop {
				flex-direction: row;
				align-items: flex-start;
			}

			.music-person {
				margin-bottom: 4em;
				width: 15em;

				.music-person-image {
					position: relative;
					overflow: hidden;
					max-width: 200px;
					max-height: 200px;
					border-radius: 50%;
					margin: auto;
					display: block;

					span {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						background: rgba(59, 85, 230, 0.5);
						width: 100%;
						max-width: 200px;
						height: 100%;
						max-height: 200px;
						border-radius: 50%;
						z-index: 1;
					}
					img {
						width: 100%;
						border-radius: 50%;
						transition: all 0.3s ease-in;
					}

					&:hover {
						transform: none;

						img, span {

							@include desktop {
								transform: scale(1.1);
							}
						}
					}
				}

				.icon-plus {
					position: relative;
					top: 0;
					display: block;
					margin: auto;
					width: 1em;
					height: 1em;
					line-height: 1em;
					font-size: 2em;
					transition: all 0.15s ease-in;

					&:hover {
						cursor: pointer;
						@include desktop {

							transform: translateY(-1px);
						}
					}
				}

				h3 {
					text-transform: capitalize;
					small {
						font-weight: normal;
					}
				}

				p {
					text-align: justify;
					transition: opacity 0.15s ease-in;
					display: none;
					visibility: hidden;
					opacity: 0;
					font-size: 90%;
				}

				&.open {
					p {
						display: block;
						visibility: visible;
						opacity: 1;
					}
				}

				&.close {
					p {
						display: none;
						visibility: hidden;
						opacity: 0;
					}
				}
			}
		}
	}
}

// Food Section
.food {

	.food-inner {
		padding: 5em 0 10em;

		@include desktop {
			padding-bottom: 15em;
		}

		h2 {
			color: $primary-color;
		}

		.row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;

			@include desktop {
			}

			.food-vendor {
				display: inline-block;
				width: 10em;

				.icon {
					img {
						max-width: 40px;
					}
				}

				.food-vendor-image {
					position: relative;
					margin: auto;
					height: 8em;
					width: 8em;

					img {
						position: absolute;
						top: 0;
						bottom: 0;
						width: 80%;
						left: 0;
						right: 0;
						filter: grayscale(1);
						transition: all 0.3s ease-in;

						&:hover {
							@include desktop {
								filter: none;
							}
						}
					}

					a {
						height: 100%;
						display: block;
					}
				}

			}
		}
	}
}

// Ticket Section
.ticket {

	.ticket-background {
		position: absolute;
		top: 0;
		background: linear-gradient(rgba(238, 198, 170, 0.8) 0%, rgba(59, 85, 230, 0.50) 100%);
		width: 100%;
		height: 100%;
		overflow: hidden;
		transform: skewY(-5deg);
		transform-origin: 0;
		z-index: 0;
	}

	.ticket-inner {
		position: relative;
		padding: 5em 0 15em;

		.ticket-tabs {
			margin: 5em auto;
			max-width: 48em;
			width: 100%;
		}

		.ticket-tab {
			text-align: left;
			border-bottom: 1px solid rgba(255,255,255,0.5);

			h3 {
				display: table;
				width: 100%;

				span {
					display: table-cell;
					width: 2em;
					font-size: 150%;
				}

				&:hover {
					cursor: pointer;
				}
			}

			.ticket-info {
				display: none;

				.btn {
					min-width: 8em;
					width: 8em;
				}

				p {
					padding-left: 3.5em;
				}
			}

			&.open {
				.ticket-info {
					display: block;
				}
			}

			&.close {
				.ticket-info {
					display: none;
				}
			}
		}

		p {
			a {
				text-decoration: underline dotted white;
			}
		}
	}
}

// Sponsors Section
.sponsors {

	.sponsors-inner {
		padding: 5em 0 10em;

		h1 {
			color: $primary-blue;
		}

		h2 {
			color: $primary-color;
		}

		.sponsors-block {
			margin: 5em auto;

			.row {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;

				@include desktop {

				}

				.sponsor-vendor {
					display: inline-block;
					width: 10em;

					&.sponsor-vendor-large {
						width: 15em;
					}

					.sponsor-vendor-image {
						height: 200px;
						position: relative;

						img {
							position: absolute;
							top: 0;
							bottom: 0;
							width: 80%;
							left: 0;
							right: 0;
							filter: grayscale(1);
							transition: all 0.3s ease-in;

							&:hover {
								@include desktop {
									filter: none;
								}
							}
						}

						a {
							display: block;
							height: 100%;
						}
					}

					h3 {
						color: #B9BED1;
						font-size: 100%;
						font-weight: normal;
						a {
							color: inherit;

							&:hover {
								@include desktop {
									color: #5E688F;
								}
							}
						}
					}

				}

			}
		}

		.sponsor-email {
			width: 80%;
			margin: auto;
			padding: 2em;
			border-radius: 10px;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
			background: linear-gradient( rgba(238, 198, 170, 0.8) 0%, rgba(59, 85, 230, 0.5) 100%);

			@include desktop {
				width: 50%;
			}

			h2 {
				color: white;
			}

			h3 {
				font-weight: normal;
			}
		}
	}
}

// Footer
.globalFooter {
	position: relative;
	margin-top: 10em;

	.footer-background {
		position: absolute;
		background: linear-gradient(to top, rgba(238, 198, 170, 0.8) 0%, rgba(59, 85, 230, 0.5) 100%);
		z-index: 0;
		height: 100%;
		width: 100%;
	}

	.footer-background-image {
		transform: translateY(-12em);

		@include desktop {
			transform: translateY(-15em);
		}
	}

	.footer-inner {
		position:relative;
		padding: 5em 0 1em;
		p {
			color: #8e7564;
		}
	}
}

